<div class="row">
  <div class="offset-md-4 col-4">
    <form ng-submit="login()">
      <div class="form-group">
        <label for="login_email">Email:</label>
        <input type="email" name="email" ng-model="auth.email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="login_password">Password:</label>
        <input type="password" name="password" ng-model="auth.password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
  </div>
</div>
